@import "tailwindcss";

:root {
  --background: #f3f2e1;
  --foreground: #383E3C;
}

@theme inline {
  --color-white-chalk: #F7F7F1;
  --color-tolkien-primary: #4a4944;
  --color-tolkien-accent: #a1885f;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "PT Serif", serif;
  --font-serif: "Garamond Premier Pro", serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-serif);
}
