.footer {
    border-top: 1px solid #d4cbbd;
    background-color: var(--tolkien-primary);
    margin-top: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 0.875rem;
    color: var(--white-chalk);
}