.layoutBody {
    background-color: var(--background);
    color: var(--tolkien-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    max-height: 100dvh;
    margin-top: var(--header-height);
}

.main {
    flex-grow: 1;
}